body {
    margin: 0;
}

#grid {
    display: grid;
    grid-template-rows: [row1-start] 20% [row1-end] 65% [third-line] 15% [last-line];
    height: 100vh;
}

#grid-child-1 {
    align-self: center;
    text-align: center;
}

#h1 {
    font-family: 'Monomaniac One', sans-serif;
    font-size: 40px;
    text-transform: uppercase; 
    letter-spacing: 5px;
}

#h2 {
    color: gray;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.navbar-child {
    display: inline-block;
    padding: 0 15px 0 15px;
}

.navbar-child a {
    color: gray;
    font-family: "Helvetica", arial, sans-serif;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

#active-page a {
    color: black;
}

#grid-child-2 {
    justify-self: center;
    position: relative;
}

.mySlides {
    display: none;
}

.prev,
.next {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 3px 3px 0;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 16px;
    position: absolute;
    margin-top: -22px;
    top: 50%;
    transition: 0.6s ease;
    width: auto;
}

.next {
    border-radius: 3px 0 0 3px;
    position: absolute;
    right: 0; 
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation-duration: 1.5s;
    animation-name: fade;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#grid-child-2 img {
    height: 100%;
}

#grid-child-3 {
    display: inline-grid;
    text-align: center;
}

#i-container {
    align-self: end;
    display: block;
}

#i-container i {
    color: black;
    font-size: 20px;
    padding: 0 10px 0 10px;
}

#grid-child-3 p {
    align-self: end;
    display: block;
}